#root {
  margin: 16px;
}

div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fighters{
  flex-direction: row;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

li {
  
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}
